@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
 
/* Firefox Arc theme for compact vertical space */
/* Use as userstyle with Compact Dark theme */
/* Colors: #383c4a, #2F343F, #aaa and base theme can be changed to adapt for different looks */
 
/* Reduce width of pinned tabs by reducing the left and right padding */
 
#TabsToolbar .tab-content[pinned] { 
    padding:    0 12px !important; 
}
 
.tabbrowser-arrowscrollbox {
    background: #383c4a !important;
}
 
/* Move tabs over to right to make room for address bar */
 
#TabsToolbar { 
    margin:         0 44px 0 40vw !important;
    height:         30px !important;
    padding-left:   5px !important;
  background: #2F343F !important;
}
 
/* Move address bar to titlebar with tabs */
 
#nav-bar { 
    margin:         -31px 60vw 0px 0px !important;
    height:         31px !important;
}
 
#nav-bar-customization-target {
    background: #2F343F !important;
}
 
#navigator-toolbox {
    background: #2F343F !important;
}
 
/* URL bar width adjustments */
 
#urlbar {
    background:     none !important;
    border:         none !important;
    margin-left:    5px !important;
    min-width:      270px !important;
    font-size:      12px !important;
    background: #383c4a !important;
}
 
#urlbar:hover {
    background:     none !important;
    border:         none !important;
    box-shadow:     none !important;
    background: #383c4a !important;
 
}
 
#urlbar[focused="true"] {
    background:     none !important;
    border:         none !important;
    box-shadow:     none !important;
    background: #383c4a !important;
 
}
 
/* Hide bookmark folder icons */
 
.bookmark-item > .toolbarbutton-icon { 
    display:    none !important; 
}
 
/* Minor bookmarks toolbar spacing adjustments */
 
#personal-bookmarks toolbarbutton.bookmark-item, #personal-bookmarks toolbarbutton {
    background:      none !important;
    box-shadow:      none !important;
    margin:          -1px 0px -1px 2px !important;
    padding:         0px 5px !important;
    -moz-appearance: none !important;
  border: none !important;
} 
    
#personal-bookmarks toolbarbutton:hover, #personal-bookmarks toolbarbutton:active {
    -moz-appearance: none !important;
    background:      none !important;
    text-shadow:     none !important;
  color: #aaa !important;
  border: none !important;
}
 
#personal-bookmarks {
    background: #383c4a !important;
}
 
/* Add vibrancy to toolbar, titlebar, and navbar */
 
#TabsToolbar, #titlebar, #nav-bar { 
    -moz-appearance: -moz-mac-vibrancy-light !important; 
}
    
 
/* Remove line under address bar */
 
#navigator-toolbox::after{
    content:    none;
}
 
 
 
/* Affix hamburger menu to top right */
 
#PanelUI-button{
    position:   fixed;
    top:        2px;
    right:      4px;
  border-inline-start: none;
}
 
/* Hide titlebar placeholder for caption buttons so that padding between tabs and address bar isn't so ridiculously large */
 
.titlebar-placeholder[type="caption-buttons"] {
    -moz-box-ordinal-group: 1 !important;
}
